.grid {
    display: grid;
    width:100%;
    grid-template-columns: 439px 1fr;
    grid-template-rows: 100vh;
    grid-template-areas: "sidebar chat";
    overflow-x: hidden;
}
.sidebar-chat {
    overflow: auto;
    grid-area: sidebar;
}

.chat {
    grid-area: chat;
}